
@import "compass/css3";


.fb-component {
    display: inline-block;
    margin: 0 13px;
    overflow: hidden;
    border-radius: 8px;

    cursor: move;
    input { cursor: move; }
    label { cursor: move; }
    select { cursor: move; }
    textarea { cursor: move; }
}
.fb-components {
    padding: 10px 0;
    border: 1px solid #3B99FC;
    border-top: none;
}
.nav-outline {
    border-bottom: 1px solid #3B99FC;
}
.nav-tabs.nav-outline>.active>a, .nav-tabs.nav-outline>.active>a:hover, .nav-tabs.nav-outline>.active>a:focus {
    border: 1px solid #3B99FC;
}
.nav-tabs.nav-outline>.active>a, .nav-tabs.nav-outline>.active>a:hover, .nav-tabs.nav-outline>.active>a:focus {
    border-bottom-color: #fff;
}
.nav-tabs.nav-outline>li.active>a, .nav-tabs.nav-outline>li.active>a:hover, .nav-tabs.nav-outline>li.active>a:focus {
    color: #3B99FC;
}
.nav-tabs.nav-justified>li>a {
    border-bottom: 1px solid lighten(#3B99FC, 20%);
    border-radius: 4px 4px 0 0;
}
.fb-outline {
    color: #3B99FC;
    border: 1px solid #3B99FC;
    border-radius: 8px 8px 8px 8px;
    margin-bottom: 0;
    padding: 9px 0 10px;
    font-weight: 100;
    text-align: center;
    min-width: 83px;
    display: inline-block;

    &:hover {
      color: darken(#3B99FC, 25%);
      border: 1px solid darken(#3B99FC, 25%);
    }
}
.fb-toolbox {
    text-align: right;

    a {
      color: transparent;
    }
}
.fb-form-object-editable {
    padding: 10px;

    &:hover {
      .fb-toolbox a {
        color: #3B99FC;
      }
    }
}
.fb-form-object-editable.fb-draggable {
    cursor: move;

    &:hover {
      background-color: darken(#fff, 2%);
    }

    input { cursor: move; }
    label { cursor: pointer; }
    select { cursor: move; }
    textarea { cursor: move; }
}
.fb-form-object-editable.empty {
    cursor: default;
    margin: 6px;
    height: 80px;
    border:dashed 1px #aaa;
    background-color: #eee;
}

.fb-draggable.dragging {
    background-color: #ffffff;
    position: absolute;
    z-index: 800;
    @include box-shadow(#666 0 0 20px);
}

.fb-required:after {
    color: #b94a48;
    content: ' *';
}

.fb-builder {
    min-height: 250px;
}


.popover {
    .control-label {
        text-align: left;
    }
    form {
        width: 240px;
    }
}
